body {
    font-family: monospace;
}

header {
    background-color: aquamarine;
    color: black;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
}

.input-section {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 6px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: aquamarine;
    font-family: monospace;
}

input {
    padding: 5px;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

input:focus{
    border-color: red;
}

button {
    background-color: lightblue;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    color: antiquewhite;
}

button:hover{
    /*button:hover itu biar buttonnya transform pas kursor ada di buttonnya atau lewat*/
    background-color: blue;
}

button:active{
    /*klo yg active itu bakal transform klo buttonnya diklik*/
    transform: translateY(3px);
    background-color: blueviolet;
}